@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Nunito+Sans:wght@200&display=swap');


body {
    margin: 0;
    background-color: #f3f3f3;
}
.wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}
.back-home-ico {
    width: 1.5rem;
    position: absolute;
    left: 2rem;
    top: 1rem;
    filter: drop-shadow(1px 1px 1px rgb(221, 220, 220));
}
.container {
    background-color: #fff;
    margin: auto;
    border-radius: .1rem;
    width: 40%;
    text-align: center;
}

form {
    padding: 1.5rem;
}
form input {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(212, 209, 209);
    margin-bottom: 1.5rem;
    outline: none;
    width: 80%;
    height: 2rem;
    font-size: .9em;
    font-weight: lighter;
}
button {
    margin-bottom: 1rem;
    border: none;
    border-radius: .2rem;
    padding: .5rem 1.5rem;
    background-color: #5099c9;
    color: #f3f3f3;
    width: 80%;
    margin-top: 2.5rem;
    cursor: pointer;
    transition: transform 200ms;
}
.link {
    text-decoration: none;
    padding-bottom: 1rem;
    font-family: 'Nunito Sans', 'Anonymouse Pro', serif;
    font-size: .9em;
    color: rgb(135, 209, 252);
}
.forgot-pass {
    display: block;
    float: right;
    margin-right: 10%;
}
.sign-up {
    float: left;
    margin: 2rem 0 1rem 10%;
}
.sign-up span {
    font-family: 'Nunito Sans';
    font-weight: lighter;
    font-size: .9em;
}
button:hover {
    transform: scale(.9);
    filter: grayscale(.2);
}